fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
requests
httpx
scikit-learn
pandas
numpy
joblib
pytesseract
Pillow
python-dotenv